.photo-card {
    background-color: #1d3e81;
    color: #E8EFF0;
    padding: 0.5rem 2rem 1.5rem 2rem;
    border-radius: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.photo-card a {
    color: #E8EFF0;
}
.photo-card img {
    width: 100%;
}

.photo-card p {
    text-align: justify;
}

.photo-card .content {
    display: block;
    text-align: center;
}

/* Your code here */
@media screen and (width > 600px) and (width <= 900px) {
    .photo-card img {
        width: 150px;
        margin-right: 20px;
    }
    .photo-card .content {
        display: flex;
        flex-direction: row;
    }
    .photo-card p {
        width: 100%;
    }
    .photo-card {
        text-align: left;
    }
}

@media screen and (width > 900px) {
    .photo-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media screen and (width > 1200px) {
    .photo-card img {
        width: 150px;
        margin-right: 20px;
    }
    .photo-card .content {
        display: flex;
        flex-direction: row;
    }
    .photo-card p {
        width: 100%;
    }
    .photo-card {
        text-align: left;
    }
    .photo-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}

@media print {
    .photo-card img {
        width: 150px;
        margin-right: 20px;
    }
    .photo-card .content {
        display: flex;
        flex-direction: row;
    }
    .photo-card p {
        width: 100%;
    }
    .photo-card {
        text-align: left;
        page-break-inside: avoid;
    }
}
